/* @font-face { */
/*     font-family: Norse; */
/*     src: url(Norse-Bold.otf); */
/* } */

* {
    font-family: Roboto;
    /* font-style: italic; */
}

body {
    /* background-image: url(./weedBG.jpg); */
    /* height: 100vh; */
    /* flex-direction: column; */

    margin: 0;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.main-box {
    background-color: #f9fafb;
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.logo-div {
    /* background-image: url(./weedBG.jpg); */
    background-image: url(./greenLeaves.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    flex-grow: 1;
    width: 40vw;
    /* background-size: 100%; */
}

.logo-box {
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.logo-image {
    /* width: 30%; */
    /* height: 30%; */
    align-self: center;
    width: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.logo-box p {
    color: white;
    font-size: 5rem;
    margin: 0;
}

.logo-text {
    font-family: Norse;
    text-align: center;
}

.right-box {
    /* background-color: #f9fafb; */
    width: 60vw;
    /* flex-grow: 2; */
    justify-content: stretch;
    /* display: flex; */
    /* text-align: center; */
}

.right-box p,
button {
    margin-left: 40px;
}

/* .right-box p { */
/*   font-size: 1.3rem; */
/* } */

.main-text {
    font-size: 1.3rem;
}

.top-boilerplate {
    font-weight: 600;
}

.boilerplate-first {
    margin-bottom: 0;
}

.boilerplate-second {
    margin-top: 0;
}

.image-credit {
    color: white;
    justify-content: center;
    text-align: center;
}

.image-credit a {
    color: white;
}

.form-section {
    background: #ffffff;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
}

button {
    margin-top: 1.5rem;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    color: white;
    background-color: #596d48;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.form-section p,
input,
label {
    margin-left: 40px;
}

.form-section p {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #596d48;
}

.form-section-right {
    display: flex;
    flex-wrap: wrap;
}

.form-div {
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 20px; */
    padding-right: 20px;
}

label {
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    background-color: #f9fafb;
}

span {
    margin-left: 40px;
    font-size: 0.7rem;
    color: red;
}

input {
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #e5e7eb;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    padding: 5px;
    font-size: 1rem;
}

input:focus {
    border: 1px solid #1d4ed8;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.error {
    border: 1px solid red;
}

.account {
    font-size: 1rem;
}
